.myProducts {
    margin-top: 64px;
    margin-left: 280px;
    padding: 64px;
    background-color: #eee;
}

.searchProducts,
.listProduct {
    margin-top: 64px;
    background-color: #fff;
    /* margin: 0 128px; */
    padding: 32px;
    margin: 0;
}

.fix-bottom {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: #fff;
}

@media (max-width: 576px) {
    .myProducts {
        margin-top: 64px;
        margin-left: 0;
        background-color: #eee;
    }
    .searchProducts,
    .listProduct {
        margin-top: 64px;
        background-color: #fff;
        /* margin: 0 128px; */
        padding: 8px;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .myProducts {
        margin-top: 64px;
        margin-left: 0;
        background-color: #eee;
    }
    .searchProducts,
    .listProduct {
        margin-top: 64px;
        background-color: #fff;
        /* margin: 0 128px; */
        padding: 16px;
        margin: 0;
    }
}

@media (max-width: 992px) {
    .myProducts {
        margin-top: 64px;
        margin-left: 0;
        background-color: #eee;
    }
    .searchProducts,
    .listProduct {
        margin-top: 64px;
        background-color: #fff;
        /* margin: 0 128px; */
        padding: 32px;
        margin: 0;
    }
}

@media (max-width: 1200px) {}