.info {
    width: 400px;
    padding: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.separator {
    width: 1px;
    height: 16px;
    background-color: black;
}

.product-price {
    display: flex;
}

.price-original {
    color: #aaa;
    text-decoration: line-through;
    padding-right: 16px;
}

.price-saleoff {
    font-size: 24px;
    padding-right: 16px;
}

.payment-btn {
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    margin-top: 32px;
}