.technical_details {
    padding-left: 64px;
}

.details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.details .tech_label {
    font-weight: 700;
}

.tech_label::after {
    content: ':';
    margin: 0 16px;
}