#main-1 {}

#main-1 .breadcrumb {
    display: flex;
    align-items: center;
    
}

.breadcrumb a,
.breadcrumb li {

    color: #000;
    text-decoration: none;
    font-size: 12px;
    
}

.breadcrumb a:hover {
    color: #40AD87;
}

.breadcrumb i {
    font-size: 8px;
    padding: 0 6px;
}
.a {
    font-weight: 100;
    outline: none;
}

.breadcrumb-item +.breadcrumb-item ::before {
    float: left;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "";
}
.breadcrumb-item .active {
    margin-top: -30px;
}
.my{
    font-size: 22px;
    font-weight: 700;
}

.form {
    background-color: #F5F7FF !important;
    padding: 10px;
    padding-top: 20px;
    margin-left: -27px;
    margin-bottom: 10px;
}
.form-2 {
    background-color: #F5F7FF !important;
    padding: 10px;
    padding-top: 20px;
    margin-left: -27px;
    margin-bottom: 10px;
    text-align: center;
}

.container .item__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    border-radius: 20px;
    color: #fff;
    margin: 12px;
}

.container .item__header i {
    font-size: 24px;
}

.container .item__content {
    text-align: center;
    color: #000;
}

.item__content .content__body {
    color: #4D4D4D;
}

.icon-wrapper--circle {
    background-color: #40AD87;
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
}
/* form 1 */
.container form ol li {
    list-style-type: none;
    padding-top: 5px;
    margin-left: -15px;
}
/* form 2 */
.edit {
    color: #40AD87;
    padding-right: 30px;
}
.edit:hover{
    color: #316e59;
    outline: none;
}
.acount_b {
    font-size: 18px;
    font-weight: 700;
}
.ke {
    height: 1px;
    background-color: #CACDD8;
}
.contact_b {
    font-size: 16px;
    font-weight: 600;
    padding-top: 15px;
}
.alex {
    color: #666666;
    
}
/* .row {
    padding-bottom: 7px;
} */

/* 992 */
@media screen and (max-width: 992px) {
    #main-1 {
        
        margin-left: -50px;
    }
    .edit {
        padding-right: 10px;
    }
    .contact_b {
        margin-top: -20px;
    }
    .my{
        font-size: 20px;
        font-weight: 700;
    }

}
@media screen and (max-width: 768px) {
    #main-1 {
        
        margin-left: 0px;
    }
    .form {
        font-size: 14px;
    }
    .form-2 {
        font-size: 14px;
    }
    .edit {
        padding-right: 10px;
    }
    .container .right {
        font-size: 14px;
    }
    .acount_b {
        font-size: 15px;
        font-weight: 600;
    }
    .contact_b {
        font-size: 14px;
        font-weight: 500;
        margin-top: -20px;
    }
}
@media screen and (max-width: 576px) {
    #main-1 {
        
        margin-left: 0px;
    }
    .form {
        font-size: 16px;
    }
    .form-2 {
        font-size: 16px;
    }
    .edit {
        padding-right: 20px;
    }
    .container .right {
        font-size: 16px;
    }
    .acount_b {
        font-size: 18px;
        font-weight: 700;
    }
    .contact_b {
        font-size: 16px;
        font-weight: 600;
        margin-top: -20px;
    }
    
}





/* Footer */

.footer {
    background-color: #000;
    color: #fff;
}

.subscription {
    margin: 32px 0;
}

.subscription h3 {
    font-weight: 600;
    font-size: 28px;
}

.subscription .email-input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #000;
    outline: none;
    border: 1px solid #fff;
}

.subscription .email-input:focus {
    color: #fff;
}

.subscription button {
    width: 100%;
}

.category {}

.category .category__header {
    font-weight: 600;
    color: #fff;
}

.category ul {
    padding-left: 0;
}

.category .list-item {
    list-style-type: none;
}

.category li a {
    color: #808081;
}

.category__list .list-item span {
    color: #40AD87;
}

.socials .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials .socials-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials .socials-group i {
    margin-right: 12px;
}

.socials .socials-group i:hover {
    cursor: pointer;
}

.socials .payment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payment .brand {
    background-color: #CCDEFF;
    padding: 0 12px;
    height: 24px;
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}


/* Resposive */

@media screen and (max-width: 767px) {
    .button,
    .search-bar,
    .nav,
    .icon {
        display: none!important;
    }
    .nav-btn {
        display: block!important;
    }
    .container {
        justify-content: space-between!important;
    }
    form {
        padding: 16px;
    }
    .copyright p {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px)and (max-width: 992px) {
    .container {
        justify-content: start!important;
        padding: 0 24px;
    }
    .container .search-bar {
        width: 686px;
        margin: 0 24px;
    }
    .nav,
    .button {
        display: none!important;
    }
    .container {
        position: relative!important;
    }
    .nav-btn {
        display: block!important;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
    }
    .copyright p {
        font-size: 12px;
    }
}